<div class="Menu--Header">
  <h1>Menus</h1>
  <div class="Btns--Menu">
    <%= link_to "Add Menu", "menus/new" %>
  </div>
</div>
<% @menus.each do |menu|%>
  <h3><%= menu.name %></h3>
  <div class="Menu--div">
    <div>
      <div class="MenuItems--table">
        <%= render partial: "menu-items-section" , locals: {
            items: MenuItem.activeMenuItems(menu.id),
            showRemove: false
          } %>
      </div>
      <div class="MenuUpdate--btns">

          <%= form_with(url: "/menus/#{menu.id}", method: "put") do %>
            <% if menu.active%>
              <%= submit_tag "Active", class: "Btns--Menu--btnDisabled", disabled: true %>
            <% else %>
              <%= submit_tag " Set Active", class: "Btns--Menu" %>
            <% end %>
          <% end %>

          <%= form_with(url: "/menu_items/new/#{menu.id}", method: "get") do %>
                <%= submit_tag "Add Item", class: "Btns--Menu"%>
          <% end %>

          <div class="Btns--Menu">
            <%= link_to "Remove Item", "menus/#{menu.id}" %>
          </div>
      </div>
    </div>
  </div>
<% end %>
