<div class="Title"> All Orders</div>

<div>
  <div class="SubTitle">Pending Orders</div>
  <% report[:pending_orders].each do |order|%>
    <details>
      <summary  class="Orders--Title">
        Order #<%= order.id%>
      </summary>
      <%= render partial: "order-user-section" , locals: {
        user: User.find_by(id: order.user_id),
        order: order
      } %>
      <br />
      <%= render partial: "orderItems-section" , locals: {
        items: OrderItem.get_specific_order_items(order.id),
        order_total: order.order_total
      } %>
    </details>

  <% end %>
  <div class="SubTitle">Delivered Orders</div>
  <% report[:delivered_orders].each do |order|%>
    <details>
      <summary  class="Orders--Title">
          Order #<%= order.id%>
      </summary>

      <%= render partial: "order-user-section" , locals: {
        user: User.find_by(id: order.user_id),
        order: order
      } %>
      <br />

      <%= render partial: "orderItems-section" , locals: {
        items: OrderItem.get_specific_order_items(order.id),
        order_total: order.order_total
      } %>
    </details>
  <% end %>
</div>
