<div>
   <div class="Cart-BackButton"><%= link_to "Back to Add Items", new_order_path , class: "link" %></div>
   <div  class="cart">
      <p class="cart-Title">
         <img
            src="https://freepngimg.com/thumb/cart/10-2-cart-png-pic.png"
            class="cart-image" alt="cart-image">
         Cart
      </p>
      <% if @order && @order_items.length > 0 %>
            <%= render partial: "cart-section" , locals: {
                  items: @order_items,
                  order_id: @order.id,
                  total: @total,
            } %>

      <% else %>
            <p>Your cart is empty</p>
            <div class="divButton"><%= link_to "Back to homepage", "/", class: "link" %></div>
      <% end %>
   </div>
   <% if @order && @order_items.length > 0 %>
      <%= form_with(url: "/orders/#{@order.id}", method: "put") do |form| %>

            <div class="Cart--Customer-Details">
               <div class="Form-section">
                  <p class="FormInput--label"> Customer Name* : </p>
               <%= form.text_field :order_customer_name, class: "Form--input", :required => true %>
               </div>

               <div class="Form-section">
                  <p class="FormInput--label"> Customer Email* :</p>
               <%= form.email_field :order_customer_email, class: "Form--input", :required => true%>
               </div>
            </div>

            <div class="CurrentOrderItems--orderBtnDiv">
            <%= submit_tag "Place Order", class: "CurrentOrderItems--orderButton" %>
            </div>
      <% end %>
   <% end %>
</div>
