<p>Hello World</p>
<% MenuItem.activeMenuItems(Menu.isActive.id).each do |item| %>
 <%= form_with(url: "/add_order_item/#{item.id}", method: "post", class: "AddTodo") do %>
    <p>
      <%= item.name %> and its Menu id is <%= item.menu_id %>
      <%= number_field_tag 'quantity', nil, in: 1...10 %>
      <%= submit_tag "Add", class: "AddTodo--button" %>
    </p>
  <% end %>
<% end %>
<%= form_with(url: "/orders", method: "post") do %>
  <%= submit_tag "Create Order" %>
<% end %>
