<p>Details</p>
<div class="Order--UserDetails">
  <div>Customer's Name</div>
  <div>:</div>
  <div><%= order.order_customer_name %></div>

  <div> Customer's Email</div>
  <div>:</div>
  <div><%= order.order_customer_email %></div>

  <div> Created By User's Name</div>
  <div>:</div>
  <div><%= user.first_name %></div>

  <div>Created By User's Email</div>
  <div>:</div>
  <div><%= user.email%></div>

  <div>Order Type</div>
  <div>:</div>
  <div><%= order.order_customer_type %></div>
</div>
