<h1> All Orders</h1>

<div class="PendingOrders--div">
  <h3>Pending Orders</h3>
  <% @pending_orders.each do |order|%>
    <details>
      <summary  class="Orders--Title">
        Order #<%= order.id%>
        <% if @showDeliverButton %>
          <div class="OrdersDisplay--Form">
            <%= form_with(url: "/orders/pending/#{order.id}", method: "post") do %>
              <%= submit_tag "Mark as delivered", class: "CurrentOrderItems--orderButton" %>
            <% end %>
          </div>
        <% end %>
      </summary>
      <%= render partial: "order-user-section" , locals: {
        user: User.find_by(id: order.user_id),
        order: order
      } %>
      <br />
      <%= render partial: "orderItems-section" , locals: {
        items: OrderItem.getOrderItems(order.id),
        order_total: order.order_total
      } %>
    </details>

  <% end %>
  <h3>Delivered Orders</h3>
  <% @delivered_orders.each do |order|%>
    <details>
      <summary  class="Orders--Title">
          Order #<%= order.id%>
      </summary>

      <%= render partial: "order-user-section" , locals: {
        user: User.find_by(id: order.user_id),
        order: order
      } %>
      <br />

      <%= render partial: "orderItems-section" , locals: {
        items: OrderItem.getOrderItems(order.id),
        order_total: order.order_total
      } %>
    </details>
  <% end %>
</div>
