  <% MenuItem.activeMenuItems(Menu.isActive.id).each do |item| %>
    <div class="CurrentOrderItems">
      <div class="CurrentOrderItems--Header">

        <div>
          <img src="<%= "data:image/png;base64, #{item.imgPath}" %>" class="Menu-Item--image" alt="NOT AVAILABLE">
        </div>


        <div class="CurrentOrderItems--itemName">
          <%= item.name %>
        </div>
        <%= form_with(url: "/current_orders/#{item.id}", method: "put") do |form| %>
          <div>
            Rs <%= item.price%>
            <%= submit_tag "Add", class: "CurrentOrderItems--AddBtn" %>
          </div>

        </div>

        <p class="CurrentOrderItems--Para">Quantity : <%= form.number_field :quantity, in: 0...10 %></p>
      <% end %>

    </div>
  <% end %>
  <%= form_with(url: "/users/cart", method: "get") do %>
    <div class="CurrentOrderItems--orderBtnDiv">
      <%= submit_tag "Go to Cart", class: "CurrentOrderItems--orderButton" %>
    </div>
  <% end %>
